@import "../../../partial";
$max-width: 400px;

.weekNames {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  .weekName {
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    color: #2e2e2e;
    text-align: center;
    font-weight: 600;
  }

  @media screen and (max-width: $max-width) {
    display: none;
  }
}

.cardContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  padding: 5px;
  box-sizing: border-box;

  @media screen and (max-width: $max-width) {
    display: flex;
    flex-direction: column;

    .cards {
      height: 8vh;
    }
  }
}
.hideCalendar {
  display: none;
}
.cards {
  z-index: 0;
  position: relative;
  border: 1px solid rgb(240, 240, 240);
  padding: 10px;
  height: 10vw;
  transition: all 0.2s ease-in-out;

  span {
    cursor: pointer;
  }
}

.date-picker {
  height: 50px;
  padding: 5px;
  position: relative;
}

.date-picker input[type="date"] {
  border: none;
  border-bottom: 2px solid black;
  padding: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  color: $color;
}

.selected-date {
  color: white;
  transition: all 0.2s ease-in-out;
}

.selected-date span {
  font-weight: 600;
  font-size: 1.2rem;
  width: 30px;
  background-color: $background-color;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    background-color: #555555;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}
