.weekName {
  padding: 5px;
  border-bottom: 1px solid #eeeeee;
  color: #a09f9f;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-gap: 1px;
  padding: 5px;
  box-sizing: border-box;
}
.hideCalendar{
  display: none;
}
.cards {
  cursor: pointer;
  box-shadow: 2px 2px 1px 0px #999;
  // margin: 3px;
  padding: 10px;
  border-radius: 3px;
  // width: 100px;
  height: 10vw;
  transition: all 0.2s ease-in-out;

  &:not(.selected-date):hover {
    background-color: #dedede;
  }
  &:hover {
    color: black;
  }
}

.date-picker {
  border-bottom: 1px solid #dedede;
  height: 30px;
  padding: 5px;
}

.selected-date {
  background-color: #4083d8;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
}
